[Unit]
Description=Busy Flag
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/git/busy-flag
ExecStart=python3 busy-flag.py
Restart=always
Environment=FLASK_CONFIG=production

[Install]
WantedBy=multi-user.target
